{% extends "base.html" %}

{% block head_content %}
  <title>Instagram Feed</title>
{% endblock%}

{% block container %}
  <div class="container">
    {% if user.is_authenticated %}
      <div class="row">
        <h1>Instagram Feed!</h1>
        {% for post in posts %}
          {% include 'posts/post_card.html' %}
        {% endfor %}
      </div>
    {% else %}
      {% include 'users/logged_out.html' %}
    {% endif %}
  </div>
  {% if user.is_authenticated %}
    {% include 'pagination.html' %}
  {% endif %}
{% endblock %}
