<div class="col-sm-12 col-md-8 offset-md-2 mt-5 p-0 post-container">
  <a href="{% url "users:detail" post.user.pk %}">
    <div class="media pt-3 pl-3 pb-1">
      <img class="mr-3 rounded" height="60" src="{{ post.user.profile.picture.url }}" alt="{{ post.user.get_full_name }}">
      <div class="media-body">
        <h5 class="text-dark">@{{ post.user.get_username }}</h5>
      </div>
    </div>
  </a>
  <a href="{% url "posts:detail" post.pk %}">
    <img style="width: 100%;" src="{{ post.photo.url }}" alt="{{ post.caption }}">
  </a>
  <div class="p-3 mt-4 border-double border-right-0 border-left-0">
    <span><strong> {{ post.user.get_username }} </strong> - {{ post.caption }} </span>
  </div>
  <div class="m-2">
    <small>{{ post.modified }}</small>
  </div>
</div>
